{% extends 'base.html.twig' %}

{% block metatitle %}

    {{ article.title }} | SIUUUUUU

{% endblock metatitle %}

{% block main %}

    <ul>
        <li>
            <h1>{{ article.title }}</h1>
            <p>Date de création : {{ article.createdAt | date('d/m/y h:i:s') }}</p>
            <p>{{ article.content }}</p>
            <img src="{{ article.image }}" alt="Image de {{ article.title }}">
        </li>
    </ul>

{% endblock main %}
