<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css')  }}">
    <title>{% block metatitle %} {% endblock metatitle %}</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="{{ path('home') }}">HOME PAGE</a></li>
            <li><a href="{{ path('articles_list') }}">ARTICLES</a></li>
            <li><a href="{{ path('contact') }}">CONTACT</a></li>
        </ul>

        <form method="get" action="{{ path('article_search_results') }}">
            <input id="search" type="text" name="search"/>
            <input id="button" type="submit"/>
        </form>
    </nav>
</header>

<main>

    {% block main %}

    {% endblock main %}

</main>


<footer>
    <p>Hey i'm the footer</p>
</footer>

</body>
</html>